.task-list{
    text-decoration: none;
    background-color: #61dafb;
    color:#282c34;
    width: 100%;
  }
  .list-item{
    display:flex;
    flex-direction: row;
    column-gap: 1.5rem;
    margin: 1rem;
    text-transform:capitalize;
  }
  .completed-task
  {
    text-decoration: line-through;
  }
  button{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
  }
  input[type="text"]{
    padding: 5px;
  }
  input[type="checkbox"]{
    cursor: pointer;
  }
  .add-button{
    background-color: #2f7a8f;
  }
  .input-box{
    background-color: #61dafb;
    width: 100%;
  }
  .danger-button{
    color:red;
    border: 1px solid red;
    background-color: rgba(243, 16, 0, 0.62);
  }